trigger:
  branches:
    include:
      - master

pr:
  branches:
    include:
    - master

variables:
  BuildPlatform: 'Any CPU'
  BuildConfiguration: 'Release'

jobs:
  - job: Build
    pool:
      vmImage: vs2017-win2016
    strategy:
      matrix:
        Config_Release:
          BuildConfiguration: Release
          BuildOutputDirectory: Zip
        Config_Marketplace:
          BuildConfiguration: Marketplace
          BuildOutputDirectory: Marketplace
        Config_VSIXGallery:
          BuildConfiguration: VSIXGallery
          BuildOutputDirectory: VSIXGallery

    steps:
    - task: DotNetCoreCLI@2  
      inputs:
        command: custom
        custom: tool
        arguments: install --tool-path . nbgv
      displayName: Install NBGV tool
      continueOnError: true

    -  powershell: |
       mkdir $(Build.ArtifactStagingDirectory)\$(BuildOutputDirectory)

    - script: nbgv cloud -a
      displayName: Set Version

    - task: VisualStudioTestPlatformInstaller@1
      displayName: VsTest Platform Installer

    - task: NuGetToolInstaller@0

    - task: NuGetCommand@2
      inputs:
        restoreSolution: BuildVision.sln

    - task: MSBuild@1
      displayName: Build BuildVision.sln
      inputs:
        solution: BuildVision.sln
        platform: $(BuildPlatform)
        configuration: $(BuildConfiguration)

    - task: CopyFiles@2
      inputs:
        contents: '**/bin/$(BuildConfiguration)/*.vsix'
        targetFolder: $(Build.ArtifactStagingDirectory)/$(BuildOutputDirectory)
        flattenFolders: true

    - task: DotNetCoreCLI@2
      inputs:
        command: test
        projects: 'test/**/BuildVision.UnitTests.csproj'
        arguments: -c $(BuildConfiguration) --no-build --no-restore
      displayName: Run Unittests

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: $(Build.ArtifactStagingDirectory)/$(BuildOutputDirectory)
        ArtifactName: $(BuildOutputDirectory)
        publishLocation: Container