<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnvDTE" version="8.0.2" targetFramework="net462" />
  <package id="EnvDTE80" version="8.0.3" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.27" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net472" />
  <package id="stdole" version="7.0.3303" targetFramework="net472" />
</packages>